.formBody{
    width: 100%;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.tituloResultado{
    padding: 40px;
    margin-bottom: 30px;
    color: #707070;
    font-size: 49px;
    font-weight: bold;
}

.resultField{
    margin-bottom: 60px;
}

.submitButton{

    width: 200px;
    height: 40px;
    margin-top: 10px;
    color: white;
    background-color: #0C6FED;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-style: normal;
    border-radius: 20px;
    border:#707070;
}
.submitButton:hover{
    background-color:#053d86 ;
    transition: 0.5s;
}

.margen{
    margin-left: 250px;
    margin-right: 250px;
}

.BoxWhite {
    background: #ffffff;
    border-radius: 30px;
    border: 2px solid #9f9e9e;
    width: 300px;
    display: inline-block;
    margin: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

h4{
    font-size: 30px;
    font-weight: bold;
    margin: 0;
    padding-bottom: 30px;
}

p{
    font-weight: bold;
    padding: 20px;
}

span{
    font-weight: lighter;
    font-style: italic;
    padding: 10px;
}