.simulatorForm{
    margin-top:10%;
}

.inputsContainer{
    text-align:center;
    width: 100%;
}
.simulatorField{
    margin-bottom: 60px;
}

.submitButton{
    width: 200px;
    height: 40px;
    color: white;
    background-color: #0C6FED;
    font-weight: bold;
    font-style: normal;
    border-radius: 20px;
    border:#707070;
}

.submitButton:hover{
    background-color:#053d86 ;
    transition: 0.5s;
}

.instButton{

    width: 200px;
    height: 40px;
    color: #0C6FED;
    background-color: white;
    font-weight: bold;
    font-style: normal;
    border-radius: 20px;
    border:none;
}

.instButton:hover{
    color:#000000 ;
    transition: 0.5s;
}


.simulatorField label{
    text-align: left;
    margin-right: 20px;
    font-size: 22px;
    font-weight: bold;
}

input{
    width: 402px;
    height: 30px;
    font-size: 15px;
    text-align: center;
    font-style: italic;
}


.tarjetaCreada{
    display:flex;
    justify-content: center;
    width: 100%;
    height: 50px;
    font-size:25px;
    height: 100%;
    
}

.tarjetaCreada p{
    padding-top:2px;
    border-radius: 10px;
    width: 600px;
    height: 40px;
    background-color:rgba(21, 172, 7, 0.329);
}