*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.cardList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    margin-right: 100px;
    margin-left: 100px;
}